.post-content {
        font-size: 1.1em;
            font-weight: 600;
                margin: 0 0 60px;
}

.post-content > * {
        margin: 20px 0;
            font-size: 16px;
                line-height: 1.5;
}

/*GFM */
/* ----------------------------------------------------------*/


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
        margin: 1em 0 15px;
            padding: 0;
                font-weight: bold;
                    line-height: 1.7;
                        cursor: text;
                            position: relative;
}


.post-content h1 {
        font-size: 36px;
            border-bottom: 1px solid #DDD;
                margin:60px 0 40px;
}

.post-content h2 {
        font-size: 30px;
            border-bottom: 1px solid #EEE;
                margin:50px 0 30px;
}

.post-content h3 {
        font-size: 24px;
            margin:35px 0 20px
}

.post-content h4,h5,h6{margin:25px 0 15px}

.post-content h4 {
        font-size: 18px;
}

.post-content h5 {
        font-size: 14px;
}

.post-content h6 {
        color: #777;
            font-size: 10px;
}

.post-content table th,
.post-content table td {
        border: 1px solid #DDD;
            padding: 6px 13px;
}

.post-content table th {
        font-weight: bold;
}

.post-content li {
        display: list-item;
            text-align: -webkit-match-parent;
}
.post-content img{
     width:50%;
         height:50%;
}
